$white: #fff;
$light-color: #4a4a4a;
$body-background: #f4f4f4;
$primary-color: #638eff;
$primary-dark-color: #745dff;

$dark-theme: #252526;
$dark-theme-light: #2d2d30;
$dark-theme-lighter: #3e3e42;

.dark {
  background-color: $dark-theme !important;
  color: $white !important;
}
.dark-light {
  background-color: $dark-theme-light !important;
  color: $white !important;
}
.dark-lighter {
  background-color: $dark-theme-lighter !important;
  color: $white !important;
  border: none !important;
}
.dark-text {
  color: $white !important;
}

body {
  background-color: $body-background;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}

.container {
  transition: all 0.3s ease-in-out;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 100px;
    cursor: pointer;
  }
}

.menu-bar {
  > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    align-items: center;

    li {
      list-style-type: none;
      color: $light-color;
      font-size: 14px;
      cursor: pointer;
      svg{
        margin-top: 3px !important;
      }
    }

    .menu-btn {
      color: $primary-color;
      font-weight: 700;
    }
  }
  .mobile-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 13%;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: $body-background;
      li {
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.main-card {
  display: flex;
  background-color: $white;
  width: 100%;
  min-height: 400px;
  max-height: auto;
  margin-top: 30px;
  box-shadow: 0 21px 33px 0 rgba(0, 0, 0, 0.1);

  .card-sidebar {
    background-color: #f4f4f4;
    div {
      div {
        cursor: pointer;
        padding: 25px;

        img {
          width: 25px;
        }
      }
      .active {
        background-color: #fff;
      }
    }
  }
}

.card-container {
  padding: 30px 50px 0px;
  width: 100%;

  div {
    h1 {
      font-size: 44px;
      font-weight: 700;
      line-height: 0.85;
      letter-spacing: 0.6px;
      color: #000;
      margin-bottom: 28px;
    }
  }

  .text-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .resize-section {
      flex: 1;
      width: 100%;

      .text-area {
        border: none;
        resize: none;
        font-size: 22px;
        letter-spacing: -0.7px;
        color: #000;
        width: 100%;
        padding: 15px 25px;
        overflow: hidden;
        border-radius: 5px;
        min-height: 200px;
      }
    }

    .save-btn-section {
      span {
        font-size: 12px;
        margin-right: 50px;
        cursor: pointer;
        font-weight: 500;
      }

      padding: 20px 0px;
      text-align: right;
    }

    .text-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .links {
        flex: 1;
      }

      div {
        margin-bottom: 5px;
        span {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }

  .files-section {
    height: 100%;

    .files-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .files-btn {
        display: flex;
        align-items: center;
        gap: 30px;

        div {
          display: flex;
          align-items: center;
          font-size: 12px;
          cursor: pointer;

          &:active {
            opacity: 0.5;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .download-btn {
          color: $primary-color;

          svg {
            font-size: 20px;
            margin-right: 6px;
            margin-bottom: 2px;
          }
        }

        .delete-btn {
          color: #963a45;

          svg {
            font-size: 22px;
            margin-right: 6px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}