@font-face {
  font-family: "poppins";
  src: url("./Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "openSans";
  src: url("./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

$white: #fff;
$light-color: #4a4a4a;
$body-background: #f4f4f4;
$primary-color: #638eff;
$primary-dark-color: #745dff;

$dark-theme: #252526;
$dark-theme-light: #2d2d30;
$dark-theme-lighter: #3e3e42;

.dark {
  background-color: $dark-theme !important;
  color: $white !important;
}

.dark-light {
  background-color: $dark-theme-light !important;
  color: $white !important;
}

.dark-lighter {
  background-color: $dark-theme-lighter !important;
  color: $white !important;
  border: none !important;
}

.dark-text {
  color: $white !important;
}

.dark-light-btn {
  background: $dark-theme-lighter !important;
  color: #000;

  &:disabled {
    background-color: #494949;
    color: $white !important;
  }
}

.dark-input {
  border-bottom: 1px solid $dark-theme-lighter !important;
  padding: 4px 0px;

  &:focus {
    border-radius: 6px;
    background-color: $light-color !important;
    border-bottom: 1px solid $white !important;
  }
}

.dark-text-area {
  box-shadow: none !important;
  background-color: $dark-theme-lighter !important;
  border-radius: 6px;

  &::placeholder {
    color: $light-color !important;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
  }
}

.text-area:focus::-webkit-input-placeholder {
  transition: color 0.3s;
  color: $white !important;
}

.text-area:focus:-moz-placeholder {
  transition: color 0.3s;
  color: $white !important;
}

.text-area:focus::-moz-placeholder {
  transition: color 0.3s;
  color: $white !important;
}

.text-area:focus:-ms-input-placeholder {
  transition: color 0.3s;
  color: $white !important;
}

.dark-error {
  text-shadow: 0px 0px 6px $dark-theme-lighter !important;
}

body {
  background-color: $body-background;
  font-family: "openSans", sans-serif;
  transition: all 0.3s ease-in-out;
}

.container {
  transition: all 0.3s ease-in-out;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 100px;
    cursor: pointer;
  }
}

.menu-bar {
  >ul {
    display: flex;
    align-items: center;
    gap: 40px;
    align-items: center;

    li {
      list-style-type: none;
      color: $light-color;
      font-size: 14px;
      cursor: pointer;

      svg {
        margin-top: 3px !important;
      }
    }

    .menu-btn {
      color: $primary-color;
      font-weight: 700;
    }
  }

  .mobile-menu {
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    top: 10%;
    // padding-top: 25px;
    background-color: #F4F4F4;
    animation: slideFromTop 0.5s ease forwards;
    transform: translateY(-100%);

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      li {
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: none;
        }

        &.dark {
          color: $white;
        }
      }
    }
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-card {
  display: flex;
  background-color: $white;
  width: 100%;
  min-height: 400px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0 21px 33px 0 rgba(0, 0, 0, 0.1);

  /* HTML: <div class="loader"></div> */
  .load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .loader {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid;
      border-color: $primary-dark-color #0000;
      animation: l1 1s infinite;
    }

    @keyframes l1 {
      to {
        transform: rotate(0.5turn);
      }
    }
  }

  .card-sidebar {
    background-color: #f4f4f4;

    div {
      div {
        cursor: pointer;
        padding: 25px;

        img {
          width: 25px;
        }
      }

      .active {
        background-color: #fff;
      }
    }
  }
}

.feedback {
  padding: 30px 50px;
  width: 100%;

  div {
    h1 {
      font-size: 44px;
      font-weight: 700;
      line-height: 0.85;
      letter-spacing: 0.6px;
      color: #000;
      margin-bottom: 28px;
    }
  }

  .text-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .resize-section {
      flex: 1;
      width: 100%;

      .text-area {
        transition: all 0.3s ease-in-out;
        border: none;
        resize: none;
        font-size: 22px;
        color: #000;
        width: 100%;
        padding: 10px 0;
        border: none;
        overflow: hidden;

        &::-webkit-scrollbar {
          display: none;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $light-color;
          font-weight: lighter;
          font-family: "Open Sans", sans-serif;
        }
      }
    }

    .text-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .links {
        flex: 1;
      }

      div {
        margin-bottom: 5px;

        span {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.feedback {
  form {
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;

    h2 {
      color: #353535;
      font-weight: 200;
    }

    .fields {
      margin-top: 25px;
      width: 60%;
      text-align: center;

      span {
        text-align: start;
        margin-top: 10px;

        p {
          text-transform: uppercase;
          font-family: "openSans";
          font-weight: 600;
          font-size: 16px;
          letter-spacing: -0.5px;
          color: #000;
          margin-bottom: 8px;
        }

        .error-message {
          color: red;
          text-align: end;
          font-size: 12px;
          text-transform: none;
          margin: 4px 0px;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }

        .error-message.show {
          opacity: 1;
        }

        input {
          font-family: "openSans";
          outline: none;
          border: none;
          width: 100%;
          padding: 4px 6px;
          font-size: 14px;
          font-weight: 600;
          border-bottom: 1px solid #00000075;
          transition: all 0.3s;

          &:focus {
            border-bottom: 1px solid #000;
          }
        }

        input::-webkit-input-placeholder {
          font-weight: 400;
          transition: color 0.3s;
        }

        input:-moz-placeholder {
          font-weight: 400;
          transition: color 0.3s;
        }

        input::-moz-placeholder {
          font-weight: 400;
          transition: color 0.3s;
        }

        input:-ms-input-placeholder {
          font-weight: 400;
          transition: color 0.3s;
        }

        input:focus::-webkit-input-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        input:focus:-moz-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        input:focus::-moz-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        input:focus:-ms-input-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        .text-area {
          box-shadow: inset 0 4px 7px 0 rgba(198, 198, 198, 0.541);
          line-height: 1.93;
          font-family: "openSans", sans-serif;
          font-weight: 600;
          letter-spacing: 0.5px;
          transition: all 0.3s;
          border: none;
          resize: none;
          font-size: 14px;
          color: #000;
          width: 100%;
          padding: 10px 14px;
          border: none;
          overflow: hidden;
          -webkit-text-size-adjust: none;
          -webkit-font-smoothing: antialiased;

          &::-webkit-scrollbar {
            display: none;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $light-color;
            font-weight: lighter;
            font-family: "Open Sans", sans-serif;
          }
        }

        .text-area::-webkit-input-placeholder {
          transition: color 0.3s;
        }

        .text-area:-moz-placeholder {
          transition: color 0.3s;
        }

        .text-area::-moz-placeholder {
          transition: color 0.3s;
        }

        .text-area:-ms-input-placeholder {
          transition: color 0.3s;
        }

        .text-area:focus::-webkit-input-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        .text-area:focus:-moz-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        .text-area:focus::-moz-placeholder {
          transition: color 0.3s;
          color: #fff;
        }

        .text-area:focus:-ms-input-placeholder {
          transition: color 0.3s;
          color: #fff;
        }
      }

      .send-feedback-btn {
        width: 100%;
        opacity: 1;
        position: relative;
        min-height: 61px;
        padding: 0;
        border: 2px solid #000;
        border-radius: 0;
        background: #fff;
        font-size: 20px;
        font-style: italic;
        letter-spacing: 0.6px;
        line-height: 57px;
        cursor: pointer;
        color: #000;
        font-weight: 700;

        &:disabled {
          background-color: #fff;
          border-color: #ccc;
          color: #ccc;
          cursor: not-allowed;
        }

        &:not(:disabled):hover {
          border-image: linear-gradient(to bottom,
              $primary-dark-color,
              $primary-color );
          border-image-slice: 1;
          color: $primary-dark-color;
        }
      }

      .send-feedback-btn,
      .send-feedback-btn::after {
        transition: all 0.15s ease-in-out;
      }

      .send-feedback-btn:not(:disabled):active {
        background: linear-gradient(to bottom,
            $primary-dark-color,
            $primary-color );
        color: white;
      }
    }
  }
}

.thanks {
  animation: fadeIn 1s ease-in-out;
  padding: 60px 30px;
  width: 100%;

  .thank {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      height: 140px;
      width: auto;
    }

    h1 {
      color: #252526;
      text-align: center;
    }

    p {
      text-align: center;
      color: #2d2d30;
    }

    .btn {
      text-align: center;
      text-decoration: none;
      width: 50%;
      opacity: 1;
      position: relative;
      min-height: 61px;
      padding: 0;
      border: 2px solid #000;
      border-radius: 0;
      background: #fff;
      font-size: 20px;
      font-style: italic;
      letter-spacing: 0.6px;
      line-height: 57px;
      cursor: pointer;
      color: #000;
      font-weight: 700;
      margin-top: 20px;
      transition: all 0.3s;

      &:hover {
        text-shadow: 0px 0px 10px #4a4a4a;
        background: linear-gradient(to bottom,
            $primary-dark-color,
            $primary-color );
        border-image: linear-gradient(to bottom,
            $primary-dark-color,
            $primary-color );
        border-image-slice: 1;
        color: #fff;
      }
    }
  }
}


@media (max-width: 768px) {
  .feedback {
    form {
      .fields {
        width: 80%;
      }
    }
  }
}

@media (max-width: 546px) {
  .feedback {
    form {
      .fields {
        width: 100%;
      }
    }
  }
}