@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-top: 0;
  }
  .main-card {
    flex-direction: column;
    margin-top: 10px;
    min-height: fit-content;
    box-shadow: none;
    .card-sidebar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      div {
        display: flex;
        margin: 0;
        div {
          border-radius: 5px 5px 0 0;
          margin: unset;
        }
      }
    }
    .drop-zone {
      height: 190px;
    }
  }
  .card-container {
    padding: 20px;
    width: 100%;
    min-height: 332px;
    box-shadow: 0 21px 33px 0 rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 500px) {
  .drop-zone {
    div {
      width: 100% !important;
      font-size: 14px;
      text-align: justify !important;
      padding: 0 25px;
    }
  }
}
