$light-color: #a1a3a1;
$primary-dark-color: #745dff;

.text-area {
    border: none;
    resize: none;
    font-size: 22px;
    letter-spacing: -.7px;
    color: #000;
    width: 100%;
    padding: 10px 0;
    border: none;
    overflow: hidden;
    // min-height: 221px;
    // max-height: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $light-color;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
    }
}

.theme-btn {
    border: 1px solid #000;
    background-color: transparent;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    background-color: #fff;
    padding: 12px 70px;
    cursor: pointer;

    &:hover {
        color: $primary-dark-color;
        border-color: $primary-dark-color;
        text-shadow: 1px 1px 0px $primary-dark-color;
        box-shadow: 1px 1px 0px 0px $primary-dark-color;
    }

    &:active {
        color: #ffff;
        background-image: linear-gradient(to bottom, #864bff, #5082ff);
    }
}

.drop-zone {
    width: 100%;
    height: 60%;
    border: 1.5px dashed rgba(158, 161, 161, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        color: rgba(158, 161, 161, 0.5);
        width: 50%;
        text-align: center;
        line-height: 30px;

        span {
            color: $primary-dark-color;
        }
    }
}

.files-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    div {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .file-name {
            font-size: 12px;
            text-align: center;
        }

        .image-file {
            object-fit: cover;
        }

        svg {
            color: #000;
            font-size: 34px;
            margin-bottom: 6px;
        }

        &:hover {
            background-color: rgba(158, 161, 161, 0.1);
        }
    }
}

.add-more-files {
    line-height: 20px;

    svg {
        margin-bottom: 0px !important;
        font-size: 24px !important;
        color: $primary-dark-color !important;
    }

    p {
        margin: 0px;
        font-size: 14px;
        font-weight: bold;
    }

    span {
        font-size: 10px;
        color: rgba(158, 161, 161, 0.8) !important;
    }
}

.temp-file {
    filter: brightness(50%);
    position: relative;

    .upload-loader {
        width: 30px;
        height: 30px;
        position: absolute;
    }
}